.editblogpage{
    margin-top: 70px;
    margin-bottom: 70px;
}

.edit-blog-heading {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.submit-editedblog {
    margin-top: 10px;
}
.goback-editedblog {
    margin-left: 10px;
    margin-top: 10px;
}

.editblogfields {
    margin-top: 10px;
}
