.homepage{
    /* padding: 80px 0; */
    min-height: 100vh;
}

/* .carousel-div{
    max-width: 100%;
} */

.homepage-blogs {
    
    display: flex;
    flex-direction: row;
}

.container {
    /* max-width: 900px; */
    max-width: 100%;
}

.blogitem{
    background-color: lightgray;
}

.blogitem:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    transform: translateY(-5px);
    background-color: skyblue;
}


@media only screen and (max-width:760px) {
    .homepage-blogs{
        flex-direction: column;
    }
}