.homepage {
    padding: 80px 0;
}

.container {
    /* max-width: 900px; */
    max-width: 100%;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-subtitle {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: none;
    text-align: center;
}

.button {
    display: inline-block;
    margin-top: 10px;
}

.hoverblog:hover {
    transform: translateY(-5px);
}