

.editor-wrapper {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
}

.editor-content {
    min-height: 200px;
    padding: 10px;
    border: none;
}

.editor-toolbar {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
}

.submit-newblog {
    margin-top: 10px;
    margin-bottom: 10px;
}

.newblogfields {
    margin-top: 10px;
}
